<% include ../partials/header %>
	<h1>Edit Album</h1>
	<form enctype="multipart/form-data" method="post" action="/albumz/edit/<%=id%>">
  <div class="form-group">
  	<label>Artist</label>
  	<input type="text" class="form-control" name="artist" placeholder="Artist Name" value="<%=album.artist%>">
  </div>
  <div class="form-group">
  	<label>Album Title</label>
  	<input type="text" class="form-control" name="title" placeholder="Album Title" value="<%=album.title%>">
  </div>
  <div class="form-group">
    <label>Genre</label>
    <select name="genre" class="form-control">
    	<% for(var i=0;	i< genres.length; i++) { %>
    		<option value = "<%= genres[i].name %>"><%= genres[i].name %></option>
    	<% } %>
    </select>
  </div>
  <div class="form-group">
  	<label>Album Cover</label>
  	<input type="file" class="form-control" name="cover">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
<a class="btn btn-danger" href="/albumz">Close</a>
</form>

<% include ../partials/footer %>